In [3]:
#calculates the numbers of stared-restaurants for each star (1,2,3) - didn't end up using it
import pandas as pd
df=pd.read_csv('restaurant_number.csv')
df[['City','InitialOne','InitialTwo','InitialTree']]

            City  InitialOne  InitialTwo  InitialTree
0        Chicago        18.0         3.0          2.0
1       New York        31.0         4.0          4.0
2  San Francisco        23.0         4.0          1.0
3      Las Vegas        13.0         3.0          1.0
4    Los Angeles        16.0         4.0          0.0
5     Washington         NaN         NaN          NaN

In [28]:
from sklearn.preprocessing import StandardScaler
df[['MetroPop','ZagatTotalRes','ZagatFood','ZagatDecor','ZagatService','ChefDBRest','YelpFineDining']]=\
StandardScaler().fit_transform(df[['MetroPop','ZagatTotalRes','ZagatFood','ZagatDecor','ZagatService','ChefDBRest','YelpFineDining']])

In [29]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()

In [30]:
df

,City,Population,MetroPop,ZagatTotalRes,ZagatFood,ZagatDecor,ZagatService,ChefDBRest,YelpFineDining,InitialYear,InitialOne,InitialTwo,InitialTree
0,Chicago,2720546.0,0.037697,-0.235423,0.760947,-0.057725,1.422788,-0.187451,-0.293602,2011.0,18.0,3.0,2.0
1,New York,1636268.0,1.800404,1.621702,1.336708,1.476116,0.504279,2.186091,2.164178,2006.0,31.0,4.0,4.0
2,San Francisco,864816.0,-0.773896,0.628387,0.498319,-0.107204,-0.036020,-0.191212,-0.545837,2006.0,23.0,4.0,1.0
3,Las Vegas,623747.0,-1.195259,-1.638613,-1.552197,-1.195737,-1.224679,-0.779269,-0.775875,2008.0,13.0,3.0,1.0
4,Los Angeles,3971883.0,0.665934,0.098352,-0.057239,1.030807,0.666369,-0.431952,0.025224,2008.0,16.0,4.0,0.0
5,Washington,672228.0,-0.534881,-0.474406,-0.986538,-1.146258,-1.332739,-0.596207,-0.574087,2016.0,NaN,NaN,NaN

In [31]:
X_train=df[['MetroPop','ZagatTotalRes','ZagatFood','ZagatDecor','ZagatService','ChefDBRest','YelpFineDining']][:5]
y_train=df[['InitialOne','InitialTwo','InitialTree']][:5]

In [32]:
X_test=df[['MetroPop','ZagatTotalRes','ZagatFood','ZagatDecor','ZagatService','ChefDBRest','YelpFineDining']][5:]
y_test=df[['InitialOne','InitialTwo','InitialTree']][5:]

In [33]:
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [34]:
lm.predict(X_test)

array([[ 17.71041236,   3.54949888,   0.99532532]])

In [21]:
X_train2=df[['Population','ZagatTotalRes','ZagatFood','ZagatDecor','ZagatService','ChefDBRest','YelpFineDining']][:5]
y_train2=df[['InitialOne','InitialTwo','InitialTree']][:5]

In [22]:
X_test2=df[['Population','ZagatTotalRes','ZagatFood','ZagatDecor','ZagatService','ChefDBRest','YelpFineDining']][5:]
y_test2=df[['InitialOne','InitialTwo','InitialTree']][5:]

In [23]:
lm.fit(X_train2,y_train2)
lm.predict(X_test2)

array([[ 16.63556391,   3.63098755,   0.52632405]])