In [270]:
#gets the list of restaurants for potential Michelin stars by using Yelp search API
import requests
import os
import pandas as pd

In [271]:
def get_access_token():
    response = requests.post('https://api.yelp.com/oauth2/token',
                             data={'grand_type': 'client_credentials',
                             'client_id': 'XXXXX',
                             'client_secret': 'XXXXX'})
    return response.json()['access_token']

In [272]:
def get_search(loc,sor,pri,ter):
    access_token = get_access_token()
    base_url = "https://api.yelp.com/v3/businesses/search?"
    search_terms = "location=%s&categories=restaurants&sort_by=%s&price=%s&term=%s"
    response = requests.get(base_url + search_terms % (loc,sor,pri,ter),
                            headers={'Authorization': 'Bearer %s' % access_token})
    search_result = response.json()
    return search_result

In [323]:
restaurant=get_search("Washington, DC","rating","2,3,4","grill room")

In [324]:
list_rest=[]
for i,j in enumerate(restaurant['businesses']):
    r_dict={}
    r_dict['name']=restaurant['businesses'][i]['name']
    r_dict['rating']=restaurant['businesses'][i]['rating']
    r_dict['price']=restaurant['businesses'][i]['price']
    r_dict['review_count']=restaurant['businesses'][i]['review_count']
    r_dict['categories']=restaurant['businesses'][i]['categories'][0]['alias']
    r_dict['id']=restaurant['businesses'][i]['id']
    r_dict['city']=restaurant['businesses'][i]['location']['city']
    r_dict['zip_code']=restaurant['businesses'][i]['location']['zip_code']
    list_rest.append(r_dict)

In [325]:
dc_list=list_rest

In [326]:
df2=pd.DataFrame(dc_list)
df2.head()

,categories,city,id,name,price,rating,review_count,zip_code
0,tradamerican,Washington,the-grill-room-washington,The Grill Room,$$$,3.5,63,20007

In [315]:
with open('dc_list2.csv', 'a') as f:
    df2.to_csv(f, header=True, index=False, encoding='utf-8')

In [316]:
dcdf=pd.read_csv('dc_list2.csv')

In [317]:
dcdf.shape

(87, 8)

In [322]:
dcdf

Empty DataFrame
Columns: [categories, city, id, name, price, rating, review_count, zip_code]
Index: []